@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
.wrap{
  font-size: 1.25rem;
    line-height: 1.5rem;
}
ol, ul,li, menu{
  /* list-style: disc; */
  margin-top: 1.125rem;
}
ul li::before {
  content: "\2022";
  color: #fff;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
p{
margin-top: 1.125rem;
}
.text-base{
  font-size: 0.9rem;
}
.fa-2x{
  font-size: 1.5em;
}